.chat-box
{
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
}

.chat-box .chat-box-chats
{
    height: 150px;
    border: 1px solid black;
    overflow-y: scroll;
    padding: 5px;
    text-align: left;
}

.chat-box .chat-author
{
    margin-right: 10px;
    font-weight: bold;
    color: blue;
}

.chat-box .input-row 
{
    display: flex;
    flex-direction: row;
}

.chat-box .input-row input
{
    flex-grow: 1;
}

.chat-box .input-row .chat-send
{
    width: 100px;
    order: 1;
}