body
{
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
    background: url("images/letters.jpg");
}

a,
a:not([href]):not([tabindex]),
a:not([href]):not([tabindex]):hover
{
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.view, .pane
{
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    overflow: hidden;
    position: relative;
}

.input
{
    text-align: center;
    color: black;
}

.form-inline
{
    margin: 10px 0;
}

button
{
    width: 100%;
}

.paper-id-heading
{
    margin-bottom: 50px;
}

.footerbox
{
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
}

.offline
{
    color: red;
}

.error
{
    color: red;
}