body
{
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
}

body,
select,
button,
input[type=text]
{
    font-family: 'Gaegu', cursive;
}

button:focus,
textarea:focus,
select:focus,
input:focus
{
    outline: none;
}

button,
select
{
    cursor: pointer;
}

a,
a:not([href]):not([tabindex]),
a:not([href]):not([tabindex]):hover
{
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.view, .pane
{
    padding: 10px;
    overflow: hidden;
    position: relative;
    height:100%;
}

.input
{
    text-align: center;
    color: black;
}

.paper-id-heading
{
    margin-bottom: 50px;
}

.footerbox
{
    margin-top:50px;
    padding: 10px;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 13pt;
}

.error
{
    color: red;
}

label
{
    font-size:16pt;
}

.note
{
    font-style: italic;
    font-size: 11pt;
}

.control-group
{
    margin-bottom:20px;
}

.btn-box,
select,
input[type=text]
{
    height: 50px;
}

.btn-box
{
    border: 0;
    display: block;
    cursor: pointer;
    margin: 0 auto;
    font-size: 16pt;
    max-width: 300px;
    width: 80%;
    background: url('./images/kotak.png');
    background-size: 100% 100%;
    margin: 20px auto;
}

.btn-box:hover
{
    background: url('./images/kotak_hover.png');
    background-size: 100% 100%;
}

.title-large
{
    width: 100%;
    max-width: 500px;
    margin-bottom: 30px;
    margin-top: 50px;
}

.title-small
{
    width: 80%;
    max-width: 300px;
    margin-bottom: 10px;
    margin-top: 30px;
}

.input[type=text]
{
    background: url('./images/underline.png');
    background-size: 100% 100%;
    border: 0;
    font-size:12pt;
    max-width: 300px;
    width: 80%;
}

select
{
    border: 0;
    background: url('./images/dropdown.png');
    background-size: 100% 100%;
    font-size: 12pt;
    padding: 0 10px;
    max-width: 200px;
    width: 70%;
}

select:hover
{
    background: url('./images/dropdown_hover.png');
    background-size: 100% 100%;
}

p
{
    margin-bottom:0;
}

.no-margin
{
    margin: 0;
}